<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.gwl.feeds">

    <uses-permission android:name="android.permission.INTERNET" />

    <dist:module
        dist:instant="false"
        dist:title="@string/title_insta_feeds">
        <dist:delivery>
            <dist:on-demand />
        </dist:delivery>

        <dist:fusing dist:include="true" />
    </dist:module>

    <application android:usesCleartextTraffic="true">
        <activity
            android:name=".presentation.UserDetailActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:usesCleartextTraffic="true" />
    </application>

</manifest>